div.row
    div.span6
        div.box
            h3.thin.page-header Suggestion
            p
                include lorem
    div.span3
        div.box
            h3.page-header Ads
            include lorem-small

ul.nav.nav-tabs
    - if (route == "/activity/messages")
        li.active: a Messages
    - else
        li: a(href="/activity/messages") Messages

    - if (route == "/activity/visitedby")
        li.active: a Visited by
    - else
        li: a(href="/activity/visitedby") Visited by

    - if (route == "/activity/visited")
        li.active: a Visited
    - else
        li: a(href="/activity/visited") Visited

    - if (route == "/activity/flashedby")
        li.active: a Flashed by
    - else
        li: a(href="/activity/flashedby") Flashed by

    - if (route == "/activity/flashed")
        li.active: a Flashed
    - else
        li: a(href="/activity/flashed") Flashed

    - if (route == "/activity/savedby")
        li.active: a Saved by
    - else
        li: a(href="/activity/savedby") Saved by

    - if (route == "/activity/saved")
        li.active: a Saved
    - else
        li: a(href="/activity/saved") Saved

div.tab-content
    div.tab-pane.active
    - if (route == "/activity/messages")
        include message-list
    - else
        include list

include write-modal