div.row
    div.span8
        div.well
            h3.page-header Online
            p
                include lorem
            p
                include lorem
        div.well
            h3.page-header History
            include lorem
    div.span5
        include rightcol
    