div.row
    div.span6
        include online
        div.box
            h3.page-header Online
            div.box-inner
                p
                    include lorem
                p
                    include lorem
        div.box
            h3.page-header History
            p.box-inner
                include lorem
    div.span3
        include rightcol
    