div.row
    div.span6
        div.well
            h3.page-header Online
            p
                include lorem
            p
                include lorem
        div.well
            h3.page-header History
            include lorem
    div.span3
        include rightcol
    