!!! 5
html

    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        // script(src="http://localhost/priv/clients/santeo/comparator/www/js/lib/ext/ext.js")
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
        script(src='http://cloud.github.com/downloads/SteveSanderson/knockout/jquery.tmpl.min.js')
        // script(src='http://cloud.github.com/downloads/SteveSanderson/knockout/knockout-1.2.1.js')
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/bootstrap.js')

        if authorized
            script(src="/javascripts/meet/meet.js")
            script(src="/javascripts/meet/meet.events.js")
            script(src="/javascripts/meet/meet.message.js")
            script(src="/javascripts/meet/meet.search.js")
            script(src="/javascripts/index.js")
        // else
        script(src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3.5")
            // script(src="/javascripts/jquery.validate.min.js")
        script(src="/javascripts/register.js")


    body

        include navbar

        div.content
            div.container.page
                h1.page-header #{title}
                div.row
                    div.span3
                        include leftcol
                    div.span9
                        != body

            footer.footer
                div.container
                    p Powered by 
                        a(href='http://chewam.com/') Chewam
