div.well
    h3.page-header Profile
    include lorem

div.well
    h3.page-header Activity
    ul.nav.nav-list
        li.active
            a(href="#")
                i.icon-home.icon-white
                |Home
        li: a(href="#")
            i.icon-book
            |Library
        li: a(href="#")
            i.icon-pencil
            |Applications
