form.box.form-stacked(action="", method="POST")
    h3.thin.page-header Authentication
    div.box-inner
        div.group-control
            label(for="login") Login
            div.controls
                div.input-prepend
                    span.add-on
                        i.icon-user
                    input#login(type="text", name="login")
        div.group-control
            label(for="password") Password
            div.controls
                div.input-prepend
                    span.add-on
                        i.icon-lock
                    input#password(type="password", name="password")

    div.form-actions
        button.btn.btn-primary.pull-right(type="submit") Submit
        div(style="clear: both")
