form.form-stacked(action="", method="POST")
    h3.thin.page-header Authentication
    div.group-control
        label(for="login") Login
        div.controls
            input#login(type="text", name="login")
    div.group-control
        label(for="password") Password
        div.controls
            input#password(type="password", name="password")

    div.actions
        button.btn.primary(type="submit") Submit
