!!! 5
html

    head
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href="/javascripts/sencha/resources/css/sencha-touch.css")
        script(src='/socket.io/socket.io.js')
        script(src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3.5")
        script(src="/javascripts/sencha/sencha-touch-all-debug.js")
        script(src="/javascripts/mobile/index.js")

    body
