div.box.online
    h3.thin.page-header Online
    div.box-inner
        ul.thumbnails
            li.span2
                a.thumbnail(href="/profile/#{items[0].id}")
                    img(src="#{items[0].pic}")
            - var item
            - for (var i = 0, l = items.length; i < l; i++)
                - item = items[i]
                li.span1
                    a.thumbnail(href="/profile/#{item.id}")
                        img(src="#{item.pic}")
