div.row
    div.span6
        div.well
            h3.page-header Suggestion
            include lorem
    div.span3
        div.well
            h3.page-header Ads
            include lorem-small


include list

include write-modal
