div#write-modal.modal.fade.hide
    div.modal-header
        a.close(data-dismiss="modal") ×
        h3 Send a message to 
            span
    div.modal-body

        form.form-stacked(action="", method="POST")
            div.control-group
                label(for="title") Title
                div.controls
                    input#title.xlarge(type="text", name="title")

            div.control-group
                label(for="message") Message
                div.controls
                    textarea#message(rows="10", name="message", style="width: 480px")

    div.modal-footer
        a.btn.btn-primary(data-complete-text="Send", data-bind="click: function(e) { sendMessage(e.target); }")
            i.icon-ok.icon-white
            |&nbsp;Send
        a.btn(data-dismiss="modal")
            i.icon-remove
            |&nbsp;Cancel