body {
    padding-top: 20px;
    background-color: #FFF;
}

h1 {
    margin-top: 40px !important;
}

.topbar {
    box-shadow: 0 1px 6px -3px rgba(0, 0, 0, .8);
}

.content {
    background-color: #B2DCFF;
}

.page {
    padding: 0 20px;
    margin: 0 auto 20px;
    background-color: #FFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 6px -3px rgba(0, 0, 0, .8);
}

.page-header {
    padding-bottom: 6px;
}

/*.page-header .pull-right {
    top: 12px;
    line-height: 14px;
    position: relative;
}
*/
/*.box {
    min-height:20px;
    margin-bottom:20px;
    background-color: transparent;
    border:1px solid #eee;
    border:1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.box form {
    margin-top: 20px;
}

.box form, .box .actions {
    margin-bottom: 0;
}*/

.footer {
    background-color: #FFF;
    box-shadow: 0 -1px 6px -3px rgba(0, 0, 0, .3);
}


/***** ITEMS
*******************************************************************************/
.items .item {
    margin-bottom: 20px;
}

.items .item .span2 {
    width: 80px;
}

.items .item h3 {
    margin-top: 0;
    margin-bottom: 6px;
}

.items .item button {
    margin-left: 4px;
}

.items .item .thumbnail,
.items .item .thumbnail img {
    height: 70px;
    width: 70px;
}


/***** ALERT
*******************************************************************************/
.alert {
    width: 300px;
    right: 16px;
    bottom: 0px;
    position: fixed;
    box-shadow: 0 1px 6px -3px rgba(0, 0, 0, .8);
}

.alert .alert-heading {
    margin-bottom: 16px;
}

.alert .thumbnail {
    height: 60px;
    width: 60px;
}